.logo {
    width: 80px;
}
.about-me {
   background-color:  rgb(153, 153, 153);
   color:  rgb(169, 112, 66);
   text-align: center;
   margin: 0 auto;  
}
.profile-pic {
   margin-left: 10px;
   border-radius: 50%;
   width: 290px;
}
.skills {
    font-size: 40px;
    text-align: center;
    color: rgb(169, 112, 66);  
    background-color:  rgb(153, 153, 153);
    margin: 0 auto;
}
.main-font {
 font-size: 120%
}
.card {
    margin: 0 auto;
}
.form-group {
    margin: 30px;    
}
.panel-footer {
    font-size: 30px;
    text-align: center;
    color: rgb(169, 112, 66);  
    background-color:  rgb(153, 153, 153);
}
.fa-envelope {
     color: rgb(169, 112, 66);
}
.fa:hover {
    opacity: 0.7;
}
.fa-linkedin {
    color: rgb(169, 112, 66);
    border-radius: 20%;
}
.fa-facebook {
    color: rgb(169, 112, 66);
    border-radius: 20%;
}
/* Need help with the website link */
.fa-website {
    color: rgb(169, 112, 66);
}  
@media screen and (max-width: 768px) {
      body {
      background-color: whitesmoke;
    }
    .profile-pic {
        margin-left: 0px;
        border-radius: 50%;
        width: 230px;
     }
  }